* {
    background-color: grey;
}

h1{
    color:red;
}

.color-1 {
    color: #252525
}

.color-2 {
    color: #FF0000
}

.color-3 {
    color: #AF0404
}

.color-4 {
    color: #414141
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.title {
    text-align: center;
}

.navbar {
    width: 200px;
    font-size: 28px;
}

.navbar-item img {
    max-height: 75px;
}

#background-image {
    width: 100%;
    height: auto;
}

.bordered {
    border-top: 2px solid black;
}

.white-text {
    color: white;
}

.center-vert {
    align-items:center;
}

.drinks-bg {
    border: 2px solid black;
    background-color: #525252;
    margin: 7.6%;
    height: 320px;
}

.text-right {
    text-align: right;
}

.align-img-left {
    margin: 36px 36px 36px 36px;
}

.align-img-right {
    margin: 36px 36px 36px 36px;
}

.drink-img {
    max-height:100%;
    max-width:100%;
}

.drink-text {
    text-align: center;
}